<div class="titulo-os">
  <h5>Tela cadastro de OS</h5>

  <div class="campos-form">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-floating mb-3">
          <input type="placa" class="form-control" id="floatingInput" placeholder="placa" />
          <label for="floatingInput">Cliente</label>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-floating mb-3">
          <input type="placa" class="form-control" id="floatingInput" placeholder="placa" />
          <label for="floatingInput">Telefone</label>
        </div>
      </div>
    </div>
    <div class="list-group">
      <label class="carro-descricao" for="descricao">Carro</label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        First checkbox
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Second checkbox
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Third checkbox
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Fourth checkbox
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Fifth checkbox
      </label>
    </div>
    <div class="selecoes">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <select class="form-select" aria-label="Default select example">
            <option selected>Tipo de lavagem</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-3 col-sm-12">
          <select class="form-select" aria-label="Default select example">
            <option selected>Status O.S</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-3 col-sm-12 valor-data">
          <div class="form-floating mb-3">
            <input type="placa" class="form-control" id="floatingInput" placeholder="placa" />
            <label for="floatingInput">Valor</label>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 valor-data">
          <div class="form-floating mb-3">
            <input type="placa" class="form-control" id="floatingInput" placeholder="placa" />
            <label for="floatingInput">Data</label>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary">Cadastrar</button>
    </div>
  </div>
</div>