<div class="titulo-os">
  <h5>Tela cadastro de OS</h5>
  <form (ngSubmit)="createServiceOrder()">
    <div class="campos__form">
      <div class="campos__form__group__plates">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="form-floating mb-3">
              <div class="campos__form__plate__input">
                <input type="text" class="form-control" id="placa" placeholder="Placa"
                [(ngModel)]="this.serviceOrderModel.vehicles[0].licensePlate" name="this.serviceOrderModel.vehicles[0].licensePlate" />
              </div>
            </div>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="form-floating mb-3">
              <input type="placa" class="form-control" id="floatingInput" placeholder="Cliente" />
              <label for="cliente">Cliente</label>
            </div>
          </div>
        </div>
      </div>
      <div class="selecoes">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <label for="selectOption">Tipo da lavagem:</label>
            <select [(ngModel)]="this.serviceOrderModel.washType" name="this.serviceOrderModel.washType" class="form-select" aria-label="Default select example">
              <option selected disabled></option>
              <option *ngFor="let washTypeStatus of washTypeServiceOrderEnum | keyvalue" [value]="washTypeStatus.value">
                {{ washTypeStatus.value }} 
              </option>
            </select>
          </div>
          <div class="col-md-3 col-sm-12">
            <label for="selectOption">Status O.S:</label>
            <select [(ngModel)]="this.serviceOrderModel.washStatus" name="this.serviceOrderModel.washStatus" class="form-select" aria-label="Default select example">
              <option selected disabled></option>
              <option *ngFor="let washTypeStatus of washTypeEnum | keyvalue" [value]="washTypeStatus.value">
                {{ washTypeStatus.value }} 
              </option>
            </select>
          </div>
          <div class="col-md-3 col-sm-12 valor-data">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="valor" placeholder="valor"
              [(ngModel)]="this.serviceOrderModel.price" name="this.serviceOrderModel.price" />
              <label for="floatingInput">Valor</label>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
  </form>
</div>