<br><br>
<div class="titulo-customer">
  <h1>Cadastro de Veículos</h1>
</div>
<br>
<div class="form-floating mb-3">
  <input
    type="nome"
    class="form-control"
    id="floatingInput"
    placeholder="nome"
  />
  <label for="floatingInput">Modelo</label>
</div>
<div class="form-floating">
  <input
    type="E-mail"
    class="form-control"
    id="floatingInput"
    placeholder="e-mail"
  />
  <label for="floatingInput">Marca</label>
</div>
<div class="form-floating">
  <input
    type="Phone"
    class="form-control"
    id="floatingInput"
    placeholder="Phone"
  />
  <label for="floatingInput">Telefone</label>
</div>
<button type="button" class="btn btn-primary">Cadastrar</button>
