.vehicle__buttons {
  display: flex;
}

.vehicle__form__table__vehicle td a {
  cursor: pointer;
}

.vehicle__buttons__various button {
  padding: 12px;
}

.vehicle__search__vehicles .bg-light {
  background-color: transparent !important;
}

.vehicle__search__vehicles input {
    padding: 14px;
    margin-top: -10px;
}

.vehicle__search__vehicles button {
    padding: 14px;
    margin-top: -10px;
}

.set__color__text__red {
  color: red;
}


