<div class="titulo-vehicle">
  <h5>Tela cadastro de Veículos</h5>
</div>
<div class="campos-form">
  <div class="row">
    <div class="col-md-2 col-sm-12">
      <div class="form-floating mb-3">
        <input (mouseout)="loadVehicleInformation()"
          type="text"
          class="form-control"
          id="plate"
          #plate="ngModel" [(ngModel)]="this.vehicle.licensePlate"
          placeholder="plate" />
        <label for="plate">Placa</label>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="customer-search">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="brand"
            #brand="ngModel" [(ngModel)]="this.vehicle.brand"
            placeholder="brand" />
          <label for="floatingInput">Marca</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="customer-search">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="model"
            #model="ngModel" [(ngModel)]="this.vehicle.carModel"
            placeholder="model" />
          <label for="floatingInput">Modelo</label>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-12">
      <div class="customer-search">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="color"
            #color="ngModel" [(ngModel)]="this.vehicle.color"
            placeholder="placa" />
          <label for="floatingInput">Cor</label>
        </div>
      </div>
    </div>
  </div>
  <div class="customer-form">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-floating mb-3">
          <input (mouseout)="findCustomerByCriteria()"
            type="text"
            class="form-control"
            id="name"
            #name="ngModel" [(ngModel)]="this.customer.name"
            placeholder="nome" />
          <label for="floatingInput">Id, Nome ou Email</label>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="email"
            #email="ngModel" [(ngModel)]="this.customer.email"
            placeholder="Email" />
          <label for="floatingInput">Email</label>
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="saveVehicleData()" type="button" class="btn btn-primary">Cadastrar</button>
