<div class="titulo-customer">
  <h5>Tela cadastro de clientes</h5>
</div>

<div class="campos-form">
  <div class="form-floating mb-3">
    <input type="nome" class="form-control" id="floatingInput" placeholder="nome" />
    <label for="floatingInput">Nome</label>
  </div>
  <div class="form-floating">
    <input type="E-mail" class="form-control" id="floatingInput" placeholder="e-mail" />
    <label for="floatingInput">E-mail</label>
  </div>
  <div class="form-floating">
    <input type="Phone" class="form-control" id="floatingInput" placeholder="Phone" />
    <label for="floatingInput">Telefone</label>
  </div>
  <button type="button" class="btn btn-primary">Cadastrar</button>
</div>