/* Valores assumidos para variáveis */
:root {
  --input-height-border: 2px;
  --input-padding-x: 1rem;
  --gray-600: #6c757d;
}

.form-floating {
  --form-floating-height: calc(3.5rem + var(--input-height-border));
  --form-floating-line-height: 1.25;
  --form-floating-padding-x: var(--input-padding-x);
  --form-floating-padding-y: 1rem;
  --form-floating-input-padding-t: 1.625rem;
  --form-floating-input-padding-b: 0.625rem;
  --form-floating-label-height: 1.5em;
  --form-floating-label-opacity: 0.65;
  --form-floating-label-transform: scale(0.85) translateY(-0.5rem)
    translateX(0.15rem);
  --form-floating-label-disabled-color: var(--gray-600);
  --form-floating-transition: opacity 0.1s ease-in-out,
    transform 0.1s ease-in-out;
}

.form-floating-input {
  height: var(--form-floating-height);
  line-height: var(--form-floating-line-height);
  padding: var(--form-floating-padding-y) var(--form-floating-padding-x);
  padding-top: var(--form-floating-input-padding-t);
  padding-bottom: var(--form-floating-input-padding-b);
}

.form-floating-label {
  height: var(--form-floating-label-height);
  opacity: var(--form-floating-label-opacity);
  transform: var(--form-floating-label-transform);
  color: var(--form-floating-label-disabled-color);
  transition: var(--form-floating-transition);
}
