<div class="titulo-customer">
  <h5>Tela cadastro de clientes</h5>
</div>

<form (ngSubmit)="onSubmit()"> 
<div class="campos-form">
  <div class="form-floating mb-3">
    <input type="text" [(ngModel)]="customer.name" name="name" class="form-control" id="name" placeholder="nome" />
    <label for="name">Nome</label>
  </div>
  <div class="form-floating">
    <input type="text" [(ngModel)]="customer.email" name="email" class="form-control" id="email" placeholder="e-mail" />
    <label for="email">E-mail</label>
  </div>
  <div class="form-floating">
    <input type="text" [(ngModel)]="customer.phoneNumber" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="Phone" />
    <label for="phoneNumber">Telefone</label>
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</div>
</form>